*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bebas Neue';
}

.container5 {
    position: relative;
    height: 250vh;
}

.top-bg {
    position: absolute;
    width: 90%;
    display: grid;
    grid-template-columns: 70% auto;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.dark {
    background: #000;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center right;
    height: 100%;
}

.light {
    background-color: yellow;
}

.main-container {
    width: 80%;
    margin: 0 auto;

}

.type {
    padding: 1em;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
}

.type h1 {
    margin-top: 1.2em;
    font-size: 3rem;
    color: #fff;

}

.type p {
    font-size: 1.5rem;
    margin: 1em;
}

.dev-image-container {
    border: 1px solid black;
    width: 70%;
    margin: 2em auto;
}

.dev-img {
    width: 100%;
    display: block;
}

.skill-container {
    margin: 4.5em auto;
    padding: 1em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5em;
    border: 2px solid rgb(0, 140, 255);
}

.skill-container div {
    border-radius: 5px;
    height: 200px;
    width: 200px;
    background-color: aqua;
}


@media only screen and (min-width:768px) {
    .main-container {
        width: 90%;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid black;
        gap: 3em;
    }

    .type,
    .dev-image-container {
        width: 50%;
        align-self: center;
        border: 1px solid rgb(255, 255, 255);
    }

    .dev-img {
        width: 80%;
        margin: 0;
    }

    .dev-image-container {
        width: 50%;
        margin: 0;
        margin-right: -10em;
    }

    .type h1 {
        margin-top: 1.2em;
        font-size: 4rem;
        color: #fff;

    }

    .type p {
        font-size: 2.3rem;
        margin: 1em;
        margin-left: 0;
    }

    .skill-container {
        margin-top: 5em;
        display: grid;
        row-gap: 4em;
        justify-content: space-between;
        grid-template-areas:
            'a b c'
            '. d .';
    }

    .react-div {
        grid-area: a;
    }

    .html-div {
        grid-area: b;
    }

    .javascript-div {
        grid-area: c;
    }

    .css-div {
        grid-area: d;
    }

    .container5 {
        height: 170vh;
    }

    .top-bg {
        position: absolute;
        width: 90%;
        display: grid;
        grid-template-columns: 70% auto;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }
}