.home-skills-container {
    background-color: #1a1a1a;
    padding: 3em 0;
    text-align: center;
    height: 280vh;
    width: 100%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    position: relative;
    left: 0;
    bottom: 0;
    border: #987654 1px solid;
}

.home-skills-headline {
    margin: 0 auto;
    font-size: 5rem;
    width: 50%;
}

.home-skills-container::after {
    position: absolute;
    content: '';
    background-color: aliceblue;
    height: inherit;
    width: inherit;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.home-skills-subheadline {
    margin-bottom: 4.5em;
    font-size: 2rem;
}

.skill-div {
    margin-top: 1em;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 10em);
}

.skill-div div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill-div div:hover {
    background-color: #e7dcdc23;
    cursor: pointer;
}

.skill-div div p {
    margin-top: 1em;
    font-size: 1.5rem;
}

.skill-div .first-row {
    border-right: 1px solid rgba(255, 255, 255, 0.363);
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
}

.skill-div .second-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);

    border-right: 1px solid rgba(255, 255, 255, 0.363);

}

.skill-div .third-row {
    border-right: 1px solid rgba(255, 255, 255, 0.363);

}

.skill-icon {
    color: #dec196;
    width: 3.5em;
    height: 3.5em;
}


/***/
.home-projects-container {
    padding: 3em;
    height: 28%;
    background-color: #e7dede41;
    border: #987654 1px solid;
    margin: 2em 0;

}

.flex-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

.flex-div .projectcard {
    height: 90%;
}

.home-project-header {
    margin: 2em;
    font-size: 4rem;
}